/ {
    keymap {
        compatible = "zmk,keymap";

        bindings = < 
            &encoder_cw  &rgb_ug_toggle
            &encoder_ccw &reset
            &bootloader  &bt_clear_bonds
        >;
    };
};

